@import url('http://fonts.cdnfonts.com/css/roboto');
body {
    background-image: url("images/background 1.png");
    background-repeat: no-repeat;
    background-size: 1600px;
    margin: 0 auto;
    color: white;
    font-family: Roboto, sans-serif;
}
.header_logo {
    margin-left: 257px;
}
.header_letters {
    display: inline-block;
    text-transform: uppercase;
}
.logo1 {
    font-size: 29px;
    margin-top: 2em;
}
.logo2 {
    font-size: 18px;
}
.header_contacts {
    display: inline-block;
    float: right;
    font-size: 18px;
    margin-top: 50px;
    margin-right: 260px;
}
.header_number {
    margin-top: 19px;
    text-align: right;
}







.wrapper_grid {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 220px 220px;
    gap: 61px;
    justify-content: center;
    margin-top: 22px;
}




.tour-frame {
    display: grid;
    grid-template: 1fr 41px / 1fr;
    justify-items: center;
    align-items: end;
}

.tour-img-frame {
    position: relative;
    box-sizing: border-box;
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-image: linear-gradient(to right bottom, black, white) 1;
    border-width: 2px;
    border-style: solid;
}

.tour-img-frame img {
    width: 100%;
    height: 100%;
}

.tour-img-label {
    position: absolute;
    top: 200px;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #ffffff;
    font-weight: 400;
    background-color: #F26522;
    width: inherit;
    z-index: -1;
}

.tour-img-label span:nth-child(1) {
    font-size: 10px;
    line-height: 10px;
    width: inherit;
    padding: 7px 0 0 16px;
}

.tour-img-label span:nth-child(2) {
    font-size: 20px;
    line-height: 20px;
    padding: 8px 0 12px 16px;
}

.tour-img-label span:nth-child(3) {
    position: relative;
    font-size: 14px;
    line-height: 14px;
    padding: 0 37px 12px 0;
    align-self: flex-end;
    justify-self: flex-end;
}

.tour-img-label span:nth-child(3)::after {
    content: "";
    display: block;
    position: absolute;
    /*background-image: url("../img/angle-arrow.svg");*/
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: calc(100% - 21px);
}

.tour-frame:hover .tour-header {
    color: #F26522;
}

.tour-frame:hover .tour-img-label {
    animation-name: bottom-appearance;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}



a {
    color: inherit;
    text-decoration: none;
}

.text {
    text-align: center;
}




.item:hover {
    color: #F26522;
    stroke: #F26522;
    fill: #F26522;
}
svg:hover {
    fill: #F26522;
}




.image_item {
    height: 220px;
    width: 300px;
}
.item_text {
    margin-top: 10px;
}








.footer_text {
    font-size: 12px;
    text-align: center;
    margin-top: 90px;

}